%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    .navbar-brand= link_to Settings.site_name, root_path, class: 'no_link_style'
  .collapse.navbar-collapse
    .input-group
      %input.form-control.profile-typeahead{name: 'q[name_cont]', placeholder: 'Search Name'}
      %span.input-group-addon=fa_icon 'search'
    %ul.nav.navbar-nav
      %li= link_to 'Start', root_path, class: 'no_link_style'
    = render 'layouts/nav/right'
