%head
  %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  %meta{charset: "utf-8"}/
  %title Admin Dashboard UI - Dashboard
  %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", name: "viewport"}/
  %link{href: "pages/ico/60.png", rel: "apple-touch-icon"}/
  %link{href: "pages/ico/76.png", rel: "apple-touch-icon", :sizes => "76x76"}/
  %link{href: "pages/ico/120.png", rel: "apple-touch-icon", :sizes => "120x120"}/
  %link{href: "pages/ico/152.png", rel: "apple-touch-icon", :sizes => "152x152"}/
  %link{href: "favicon.ico", rel: "icon", type: "image/x-icon"}/
  %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
  %meta{content: "yes", name: "apple-touch-fullscreen"}/
  %meta{content: "default", name: "apple-mobile-web-app-status-bar-style"}/
  %meta{content: "", name: "description"}/
  %meta{content: "", name: "author"}/

  %link{href: "assets/plugins/pace/pace-theme-flash.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/bootstrap/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/font-awesome/css/font-awesome.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/select2/css/select2.min.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/switchery/css/switchery.min.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/nvd3/nv.d3.min.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/mapplic/css/mapplic.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/rickshaw/rickshaw.min.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/bootstrap-datepicker/css/datepicker3.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/plugins/datatables-responsive/css/datatables.responsive.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "assets/css/dashboard.widgets.css", media: "screen", rel: "stylesheet", type: "text/css"}/
  %link{href: "pages/css/pages-icons.css", rel: "stylesheet", type: "text/css"}/
  %link.main-stylesheet{href: "pages/css/pages.css", rel: "stylesheet", type: "text/css"}/
  = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
