%meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
%meta{charset: "utf-8"}/
%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", name: "viewport"}/
%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
%meta{content: "yes", name: "apple-touch-fullscreen"}/
%meta{content: "default", name: "apple-mobile-web-app-status-bar-style"}/
%meta{content: "", name: "author"}/
%meta{content: "", name: "description"}/
%meta{content: "IE=Edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}/
%meta{name: "google-site-verification", content: "Ynz9qyg3rruOyuXDgYpG9dz3CGrenKXbEznTrzg_-vI"}/

%link{href: "pages/ico/60.png", rel: "apple-touch-icon"}/
%link{href: "pages/ico/76.png", rel: "apple-touch-icon", :sizes => "76x76"}/
%link{href: "pages/ico/120.png", rel: "apple-touch-icon", :sizes => "120x120"}/
%link{href: "pages/ico/152.png", rel: "apple-touch-icon", :sizes => "152x152"}/

%title Admin | Dashboard

= favicon_link_tag
= display_meta_tags

= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
= csrf_meta_tag
