#footer
  .container
    .row
      .col-md-4.col-sm-6
        .footer-about.wow.fadeIn{"data-wow-duration" => "0.5s"}
          .vid-heading
            %span About
            .hding-bottm-line
          %p
            BLAH
          %ul.bottom-social.list-inline.list-unstyled
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-pinterest
            %li
              %a{:href => "#"}
                %i.fa.fa-instagram
            %li
              %a{:href => "#"}
                %i.fa.fa-dribbble
/ copyright
#copyright
  .container
    .row
      .col-sm-12.text-center
        %p
          Copyright 2018 All rights reserved.
/ copyright
